@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
body{font-family: 'Pattaya', sans-serif;
    width: 100vw;
    height: 100vh;
    background: url("https://i1.faceprep.in/ProGrad/sky-moon-bg.png");
    background-size: 100% 100%;
    }
    